extends ../../layout 


block content
        a(href='/')
            i.left.arrow.huge.icon  
        .ui.grid
            .two.wide.column   
                .ui.breadcrumb
                    .section Home
                    .divider /
                    .active.section Liv

                p.myName Welcome to my Profile!
                div
                    .ui.card
                        .image
                            img(src="/images/liv/liv_photo.jpg")
                        .content
                            span.date Joined in 2023
                .ui.violet.button#showInformation Click to Learn More About Liv
                div
                .ui.up.pointing.label You Should Really Click...
            
            .three.wide.column#RightCol
                .ui.active.inverted.dimmer#Dimmer
                     .ui.indeterminate.text.loader#Loader Waiting For You to Click...
                .content#Menu
                    p.facts Name: #{data.me.name}
                    p.facts Year: #{data.me.year}
                    p.facts Birthday: #{data.me.birthday}
                    p.facts Hometown: #{data.me.hometown}
                    p.facts Major: #{data.me.major}
                    p.facts Classes: #{data.me.classes}
                    p.facts Favorite TV Shows: #{data.me.tv}
                    em.medium(data-emoji=":butterfly:")
                    .ui.right.labeled.icon.button Next Page
                        i.right.arrow.icon




block styles 
    link(rel='stylesheet', href='/css/liv.css')  

block scripts
    script(src="/js/liv.js")